/* pagina y ubicacion */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  margin: 0;
}

header {
  grid-area: header;
  background-color: black;
  min-height: 100%;
}

nav {
  grid-area: navbar;
  /* background-color: antiquewhite; */
}

aside {
  grid-area: sidebar;
}

article {
  grid-area: main;
  /* background-color: aquamarine; */
}

footer {
  grid-area: footer;
  background-color: azure;
}

.grid-container > * {
  box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 5px;
}

.grid-container {
  display: grid;
  gap: 1px;
  grid-template:
    "header" auto
    "sidebar" 150px
    "main" auto
    "footer" auto;
}

/* header logo */
header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

a {
  text-decoration: none;
}

/* categoria */
.navbar {
  display: flex;
}
.menu-horizontal {
  display: flex;
  justify-content: center;
}
.menu-horizontal > li > a {
  display: block;
  padding: 5px 20px;
}

.menu-horizontal > li:hover {
  opacity: 1;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}
.menu-horizontal li:active .menu-vertical {
  display: block;
}

.m-categoria:hover {
  background-color: rgba(85, 245, 255, 255);
  color: #000;
  padding: 8px;
}

.menu-vertical {
  position: absolute;
  display: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  color: white;
}

nav a:hover {
  color: rgba(85, 245, 255, 255);
}

/* aside */
/* carrito */
.carrito {
  font-size: 13px;
}
.carrito ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 5px;
}

ul {
  list-style-type: none;
  justify-content: center;
}

.login {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
}

.not-count {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* article */
article h1 {
  text-align: center;
  font-size: 22px;
}

.product {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.product img {
  height: 100%;
  width: auto;
  margin-bottom: 10px;
}

.product a {
  color: black;
}

.product a:hover {
  color: rgba(85, 245, 255, 255);
  border: rgba(0, 0, 0, 0.5);
}

.product h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-align: center;
}

footer label {
  color: white;
}

.not-count {
  font-size: 16px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login form {
  margin: 10;
  padding: 5px;
}

.login h1 {
  text-align: center;
  font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  background-color: rgba(255, 248, 248, 0.2);
  color: black;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  transition: all 1s ease-in-out;
  padding: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-bottom: 1px solid #2979cd;
}

input[type="button"],
input[type="submit"],
button,
.button {
  padding-top: 20px;
  display: block;
  border-radius: 2px;
  width: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background-color: rgba(85, 245, 255, 0.5);
  border: 1px solid #11608e;
  cursor: pointer;
}

input {
  outline: 0;
}

input:invalid { border-color: red; } 

.button {
  width: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  padding: 30px 60px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button:hover {
  color: rgba(85, 245, 255, 255);
  background-color: black;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}

.button:hover::before {
  width: 150%;
}

.login h4,
h5 {
  font-size: 10px;
}

.activities {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

table {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}
table tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.but {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button_slide {
  color: black;
  border: 1px solid rgba(85, 245, 255, 255);
  border-radius: 0px;
  padding: 5px 15px;
  margin: 2px;
  display: inline-block;
  font-size: auto;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_register {
  color: black;
  border: 1px solid yellow;
  border-radius: 0px;
  padding: 1px 10px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 12px;
}
.button_slide_none {
  color: black;
  padding: 5px 15px;
  margin: 2px;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 rgba(85, 245, 255, 255);
}
.slide_down:hover {
  box-shadow: inset 0 100px 0 0 rgba(250, 10, 5, 1);
}

.button_red {
  border: 2px solid rgba(250, 10, 5, 0.5);
}
.button_red:hover {
  box-shadow: inset 400px 0 0 0 rgba(250, 10, 5, 0.5);
}
.button_green {
  border: 2px solid rgba(54, 250, 5, 0.5);
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px greenyellow;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 orangered;
}
a {
  color: black;
}

.img_carrito {
  width: 100px;
}

.formped label {
  font-size: 15px;
}
.formped select {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 13px;
  width: auto;
}

.confirm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
}
.product img {
  width: 140px;
}

.product a img {
  width: 130px;
}

.product a:hover {
  color: black;
}
.detail-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detail-product .description {
  font-size: 15px;
}
.detail-product img {
  width: 250px;
}

/*--------------------------------------------------- */
/*Responsive Screen sizes*/
/* tablet */
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template:
      "header" 50px
      "sidebar" 150px
      "main" auto
      "footer" 80px;
  }

  header {
    flex-direction: row;
  }

  .product {
    width: 30%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .product img {
    height: 150px;
    width: 50%;
    margin-bottom: 10px;
  }

  table {
    font-size: 15px;
  }

  .detail-product {
    flex-direction: row;
    align-items: normal;
  }

  .detail-product .description {
    font-size: 15px;
  }
  .detail-product img {
    width: 300px;
  }
}

/* portatil */
@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    gap: 15px;
    grid-template:
      "header header" 50
      "sidebar main"
      "footer footer" 80px /
      200px auto;
  }

  .product {
    width: 30%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .not-count {
    font-size: 15px;
  }
  table {
    font-size: 15px;
  }

  .product img {
    height: 110px;
    width: 70%;
    margin-bottom: 10px;
  }
  .detail-product {
    flex-direction: row;
    float: left;
  }

  .title {
    font-size: 50px;
  }

  .detail-product .description {
    font-size: 15px;
  }
  .detail-product img {
    width: 400px;
  }
}

/* portatil (L)*/
@media (min-width: 1440px) {
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template:
      "header header" 120px
      "sidebar main"
      "footer footer" 80px /
      300px auto;
  }

  header {
    flex-direction: row;
  }
  .not-count {
    font-size: 15px;
  }
  table {
    font-size: 20px;
  }
  .but {
    flex-direction: row;
  }
  .not-count {
    font-size: 13px;
  }
  .detail-product img {
    width: 500px;
  }

}
/* portatil (4K)*/
@media (min-width: 2560px) {
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template:
      "header header" 120px
      "sidebar main"
      "footer footer" 80px/
      100px auto;
  }

  header {
    flex-direction: row;
  }

  .product {
    width: 30%;
  }
  .product img {
    width: 350px;
    height: 250px;
  }
  .but {
    flex-direction: row;
  }

  .detail-product{
    font-size: 35px;
  }
  .detail-product img{
    width: 900px;
  }

  .card a{
    width: auto;
  }
}
