/*GENERALES*/
:root {
  --secondary: #081c15;
  --bg-oscure: black;
  --purple: #5463ff;
  --clear: #ececec;
  --yellow: #ffc300;
  --red: #ff1818;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif, Helvetica, Arial;
  list-style-type: none;
}
/* etiquetas A */
a {
  color: var(--secondary);
  text-decoration: none;
  transition: all 200ms;
}

a:visited {
  color: var(--bg-oscure);
}

a:hover {
  color: var(--purple);
}

.alert_green {
  color: green;
}

.alert_red {
  color: red;
}

/* tablas */
table {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

td {
  border-top: 1px solid #ccc;
  padding: 2px;
}

.thumb {
  width: 100px;
}

/*CONTAINER*/
#container {
  width: 100%;
  margin: 0px auto;
  box-shadow: 0px 0px 10px red;
  background: var(--bg-oscure);
}

/*HEADER*/

#header {
  height: 145px;
  background: var(--bg-black);
}

#logo {
  /* padding: 20px; */
  margin-left: 720px;
  float: left;
}

#logo img {
  float: left;
  height: 112px;
}

#logo a {
  float: left;
  font-size: 40px;
  letter-spacing: 4px;
  font-family: "Open Sans", Helvetica, Arial;
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: bold;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 25px;
  text-shadow: 0px 2px 1px #222222;
  transition: all 300ms;
}

/*MENU*/
#menu {
  clear: both;
  background: #b5fe83;
  color: var(--bg-black);
  height: 55px;
}

#menu ul {
  list-style: none;
  text-decoration: none;
  margin: 0px auto;
  margin-left: 400px;
}

#menu ul li {
  line-height: 55px;
  float: left;
  border-right: 1px solid #363636;
}

#menu a {
  display: block;
  color: var(--bg-oscure);
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 300ms;
}

#menu a:first-child {
  border-left: 1px solid #363636;
}

#menu a:hover {
  background: var(--yellow);
  color: var(--bg-oscure);
}

/*CONTENT*/
#content {
  margin: 0px auto;
  overflow: hidden;
  background: white;
}

/*BARRA LATERAL*/
#lateral {
  width: 22%;
  min-height: 500px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
}

#lateral .block_aside {
  display: block;
  width: 90%;
  margin: 5px auto;
  padding: 10px;
}

#lateral h3 {
  display: block;
  color: var(--bg-black);
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  background: #b5fe83;
  border-bottom: 2px solid var(--secondary);
}

#lateral ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#lateral ul li {
  list-style: none;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*FORMS*/
.form_container {
  width: 50%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 2px #ccc inset;
  background: white;
  padding: 2px;
  color: gray;
  transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid #1579b5;
  color: var(--bg-black);
}

input[type="button"],
input[type="submit"],
button,
.button {
  display: block;
  border-radius: 2px;
  width: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background: #2979cd;
  border: 1px solid #11608e;
  cursor: pointer;
}

/* botones */

.button {
  background: #33ae3d;
  color: white !important;
  text-decoration: none;
}

button {
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index:1;
  margin: 10px;
  padding: 15px;
}

button::before,.button::after{
  position: absolute;
  content: "";
  z-index :1;
}

.btn-move::after{
  height: 0;
  left: 0;
  bottom: 0;
  transition-duration: 0.6s;
  width: 100%;
}

.btn-move::after{
  height: 100%;
}


.button-small {
  width: 120px;
  text-align: center;
  margin-bottom: 20px;
}


.button-gestion {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-red {
  background: red;
  border: 1px solid #cf1717;
}

label,
input[type="button"],
input[type="submit"],
button {
  display: block;
  margin-top: 10px;
}

/*CENTRAL*/
#central {
  width: 72%;
  min-height: 500px;
  float: right;
  border-left: 1px solid #ccc;
  box-shadow: -5px -1px 5px #ddd;
  padding: 25px;
}

#central h1 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0px;
}

/*PRODUCTOS*/
.product {
  width: 20%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.product a {
  color: var(--bg-black);
  text-decoration: none;
}

.product a:hover {
  color: #555;
}

.product a:active {
  color: #2979cd;
}

.product img {
  height: 170px;
  width: 80%;
  margin-bottom: 10px;
}

.img_carrito {
  height: 80px;
  display: block;
  margin: 10px auto;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}
/* DETALLE DEL PRODUCTO */
#detail-product {
  width: 90%;
}

#detail-product .image {
  display: block;
  width: 35%;
  float: left;
  height: 450px;
}

#detail-product img {
  display: block;
  width: 30%;
  float: left;
  margin-right: 30px;
}

#detail-product .data {
  width: 100%;
  float: right;
}

#detail-product .description {
  margin-bottom: 20px;
}

#detail-product .price {
  margin-bottom: 10px;
  font-size: 20px;
  color: #444;
}
#detail-product .material-icons-outlined {
  left: -11px;
}
#boton {
  background-color: #11608e;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#detail-product .boton {
  display: inline-flex;
  width: 300px;
  text-align: center;
  color: black;
  font-size: 20px;
  border-radius: 9px;
  background: #33ae3d;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* text-transform: uppercase; */

  text-decoration: none;
  transition: 0.3s ease all;
}

#detail-product .boton span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 57%;
}
#detail-product .boton .icono {
  display: inline-flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 40%;
  opacity: 0;
  transition: 0.5s ease-in-out all;
}

#detail-product .boton:hover .icono {
  left: 65%;
  opacity: 1;
  color: orangered;
}
#detail-product .boton:hover .line {
  left: 64%;
  opacity: 1;
  color: orangered;
}

#detail-product .boton:hover span {
  left: 999px;
  color: orangered;
  text-transform: uppercase;
}

/*FOOTER*/
#footer {
  clear: both;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background: #222222;
  border-top: 4px solid var(--secondary);
}

/*CARRITO*/
.delete-carrito {
  width: 295px;
  float: left;
}

.button-delete {
  display: block;
  float: left;
  width: 100px;
}

.button-carrito {
  width: 70px;
  margin: 0px auto;
  text-align: center;
}

.total-carrito {
  width: 295px;
  float: right;
}

.total-carrito h3 {
  display: block;
  float: left;
  margin-top: 5px;
}

.button-pedido {
  display: block;
  float: right;
  width: 100px;
}

.updown-unidades {
  width: 80px;
  margin: 0px auto;
}

.updown-unidades .button {
  display: block;
  width: 20px;
  float: left;
  padding: 2px;
  margin: 7px;
}

.center {
  text-align: center;
}

/* @media screen and (max-device-width: 1920px) {
  #logo {
    /* padding: 20px; */
    margin-left: 720px;
    float: left;
  }

  #menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 400px;
  }

  #boton {
    background-color: #11608e;
    width: 29%;
    height: 30px;
    display: inline-block;
    background-color: var(--yellow);
    border-radius: 10px;
    transition: all 5ms;
  }

  #boton:hover {
    cursor: pointer;
    border-bottom: #11608e solid 1px;
    background-color: var(--bg-oscure);
  }

  #detail-product .boton span {
    transition: 0.4s ease-in-out all;
    position: absolute;
    left: 56%;
  }
  #detail-product .boton:hover .icono {
    left: 67%;
    opacity: 1;
    color: #b5fe83;
  }
  #detail-product .boton:hover .line {
    left: 65%;
    opacity: 1;
    color: #b5fe83;
  }

  #detail-product .boton:hover span {
    left: 52%;
    color: #b5fe83;
    text-transform: uppercase;
  }

  .product .oferta{
    border-radius: 10px;
    /* background-color: #e2e2e2; */
    color: var(--red);
    font-size: 15px;
  }
