<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="grid-container">
    <header class="header">
      <a class="logo">
        <img src="/assets/img/logon.png" id="logo" alt="logo" />
      </a>

      <nav class="navbar">
        <ul class="menu-horizontal">
          <li> <a href=""> Inicio</a> </li>
          <li> <a href="#"> categoria</a> 
            <ul class="menu-vertical">
              <li ><a class="m-categoria" href="">Fideos</a></li>
              <li><a class="m-categoria" href="">Legumbres</a></li><li><a href="">Legumbres</a></li><li><a href="">Legumbres</a></li><li><a href="">Legumbres</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <aside class="sidebar">
      <div class="Login">
        <form action="#">
          <label for="nombre"> Nombre </label>
          <input type="text" name="" id="" />
          <label for="nombre"> Contraseña </label>
          <input type="text" name="" id="" />
          <input type="submit" value="Ingresar" />
        </form>

        <div class="not-count">
          <label for="">¿No tienes una cuenta? </label>
          <a href="">Registrate ahora</a>
        </div>
      </div>
    </aside>

    <article class="main">
      <div class="carrito">
        <ul>
          <li>Productos:(0)</li>
          <hr />
          <li>Total a pagar:(0)</li>
          <hr />
          <li><a href="">Ir a mi carrito</a></li>
        </ul>
      </div><hr class="categoria">


    </article>
    <footer class="footer">footer</footer>
  </body>
</html>
