<!-- productos -->
<div class="col-md-4">
    <!-- bbb_deals -->
    <div class="bbb_deals">
        <div class="bbb_deals_slider_container">
            <div class=" bbb_deals_item">
                <div class="bbb_deals_image "><img class="image-responsive" src="<?= baseUrl ?>assets/img/tradicional.jpg" alt=""></div>
                <div class="bbb_deals_content">
                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                        <div class="bbb_deals_item_category"><a href="#">categoria</a></div>
                        <!-- <div class="bbb_deals_item_price_a ml-auto"><strike>$</strike></div> -->
                    </div>
                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                        <div class="bbb_deals_item_name">titulo</div>
                        <div class="bbb_deals_item_price ml-auto"><span class="badge badge-pill badge-danger">$1235</span></div>
                    </div>
                    <div class="available">
                        <div class="available_line d-flex flex-row justify-content-start">
                            <div class="available_title">stock: <span class="badge badge-pill badge-primary">6</span></div>
                        </div>
                        <div class="available_bar"><span style="width:17%"></span></div>

                        <button type="button" class="btn bg-cart btn-block bg-info text-white"><i class="fa fa-cart-plus mr-2"></i> Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cierre productos -->